* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black
}

.box {
  border: solid 1px white;
  border-radius: 10px;
  height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.01);
}

h1 {
  color: white;
  margin-bottom: 25px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 250px;
  gap: 20px;
}

/* From Uiverse.io by KSAplay */
.btn {
  padding: 0.5em 2em 0.5em 2.5em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 15px;
  color: #fff6fb;
  letter-spacing: 0.3em;
  text-shadow: -2px 2px 5px #fd3084;
  background-color: transparent;
  border: 2px solid #feb1de;
  box-shadow:
    0 0 0px 1px #f11271,
    0 0 10px 2px #fd3084,
    inset 0 0 0px 1px #f11271,
    inset 0 0 10px 2px #fd3084;
  transition: 100ms;
}

.btn:hover {
  box-shadow:
    0 0 0px 1px #f11271,
    0 0 10px 2px #fd3084,
    inset 0 0 0px 1px #f11271,
    inset 0 0 30px 2px #fd3084;
  text-shadow: 0 0 10px #fd3084;
  transform: translateY(-5px);
}

.btn:active {
  box-shadow:
    0 0 0px 1px #f11271,
    0 0 25px 2px #fd3084,
    inset 0 0 0px 1px #f11271,
    inset 0 0 30px 2px #fd3084;
  transform: translateY(1px);
}
